body {
    background: rgb(220, 6, 6);
    color: rgb(18, 199, 39);
    padding: 10px;
    font-family: Play 'Times New Romen Medium', 'Arial Narrow', Arial, sans-serif;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav 
    background: rgb(93, 66, 38);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(224, 30, 172);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #11099f;
}

/* main container area beneath menu */
main {
    background: rgb(143, 102, 40);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(216, 7, 115) ridge;
    padding: 9px;
}
h2, h3 {
    margin: 0px;
}
